.task_section_wrapper {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    background-color: #371c6d;
    border: 1px solid transparent;
      border-radius: 8px;
}
