.task_list {
  width: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}

.task_list_text {
  color: #fff;
  font-size: 22px;
  text-align: center;
}
